<h1>Translation interface</h1>

<table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key, value in translations %}
        <tr>
            <td>{{ key }}</td><td>{{ value }}</td>
        </tr>
    {%  endfor %}
</table>