<a class="translation-cache-clear" href="{{ path('liip_translation_cache_clear') }}">{{ 'button.clear_cache' | trans({}, 'translation-bundle') }}</a>
<a class="translation-export" href="{{ path('liip_translation_export') }}">{{ 'button.export' | trans({}, 'translation-bundle') }}</a>