{% set unit = translation.unit %}

<h1>Translation in [{{ translation.locale }}] of the key [{{ translation.key }}]</h1>

{% include "LiipTranslationBundle:Translation:edit_information.html.twig" with {'unit': unit, 'translation': translation }%}

{% include "LiipTranslationBundle:Translation:edit_form.html.twig" with {'form' : form, 'translation': translation }%}


