<form action="{{ path('liip_translation_import_process', { 'locale': locale }) }}" method="post">
    <input type="submit" value="{{ 'button.process_locale' | trans({'%locale%': locale}, 'translation-bundle') }}">
</form>